body {
	text-align: center;
}

#jauge, canvas {
	text-align: center;
	width: 1300px;
	height: 600px;
}

#message{
    font-size: 30px;
}
#bottom{
	font-size: 15px;
}
#title, #titleSemainePrecedant{
	font-size: 30px;
	text-align: center;
}