@font-face {
	font-family: 'Eurostile';
	src: url('police/EurostileTMed.ttf');
}

body {
	text-align: center;
}

#jauge, canvas {
	text-align: center;
	width: 1300px;
	height: 600px;
}

#message{
    font-size: 30px;
}
#bottom{
	font-size: 15px;
}
.title{
	margin: 15px;
	font-family: 'Eurostile';
	font-size: 50px;
	text-align: center;
	color: rgba(0, 59, 11, 0.5);
}