#dateDebut{
	float:left;
}

#dateFin{
}

.aide{
	float:right;
}

.box{ 
	width: 300px;
}
.cacheElem{ 
	margin : 5px; 
	padding:10px; 
	border:1px solid #E4E4E4; 
	color:#333 
}

.infoElem{
	margin-left: 5px; 
	display: inline-block;
}

.marge1{
	margin-left: 5em;
}

.marge2{
	margin-left: 10em;
}