@font-face {
	font-family: 'Eurostile';
	src: url('police/EurostileTMed.ttf');
}

*{
	color: #004A75;
}

h1{
	margin-top: 30px;
	font-family: 'Eurostile';
	font-size: 40px;
	text-align: center;
	color: #004A75;
}

h3{
	font-family: 'Eurostile';
	font-size: 30px;
	text-align: center;
	color: #004A75;
}

li {
display:inline;
}

.invisible{
	display:none;
}

.nomADefinir{
	font-weight: bold;
	text-decoration: underline;
}

.date{
	float:left;
	text-align: center;
}

#granularite{
	padding-top:10px;
	clear:left;
}

.aide{
	float:right;
}

.box{ 
	padding-top:10px;
	width: 300px;
}

#hide{
	width: 800px;
}

.cacheElem{ 
	margin : 5px; 
	padding:10px; 
	border:1px solid #E4E4E4; 
	color:#333 
}

.infoElem{
	margin-left: 5px; 
	display: inline-block;
}

.marge1{
	margin-left: 10px;
}

.marge2{
	margin-left: 20px;;
}

.margeDroite{
	margin-right: 10px;
}